@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 5px;
    background-color: aliceblue;
}

.header_text{
    font-size: 40px;
    font-weight: 600;
   
}



.container{
    position: sticky!important;
   left: 0px;
   background-color: azure;
}
/* .top_position{
    position: !important;
    top: 2px;
    
} */